<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChessClubHub"
        tools:targetApi="31">
        <activity
            android:name=".Event_Display"
            android:exported="false" />
        <activity
            android:name=".EventsActivity"
            android:exported="false" />
        <activity
            android:name=".Post_Display"
            android:exported="false" />
        <activity
            android:name=".AnnouncementActivity"
            android:exported="false"
            android:label="@string/title_activity_announcement"
            android:theme="@style/Theme.ChessClubHub.NoActionBar" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".AnnouncementsActivity"
            android:exported="false"
            android:label="@string/title_activity_announcements"
            android:theme="@style/Theme.ChessClubHub.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>